body {
    background-image: linear-gradient(to bottom, #FFF3FE, #B8D6F4);
    color: rgb(44, 44, 44);
    max-width: 1200px;
    cursor: url('../images/candy2.svg'), auto;
}

a:hover, button:hover, .clickable-element:hover {
    cursor: url('../images/candy.svg'), pointer;
}

a:active, button:active {
    cursor: url('../images/candy.svg'), pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Inria Serif";
}

img {
    margin: 1%;
    width: 10%;
}

article img {
    display: block;
    width: 110%;
    /* height: 120%; */
    max-width: 1200px;
    padding-bottom: 20px;
    margin: 20px auto;
    /* margin-left: -5%;      
    margin-right: -5%;
    margin-top: 20px;
    margin-bottom: 20px; */
}

.header {
    text-align: center;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* width:80%; */
    max-width: 1200px;
}

.header h1 {
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    color: #8883bb;
    text-align: center;
    justify-content: center;
    /* text-decoration:overline solid 3px; */
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    color: #8a83da;
    justify-content: center;
    margin: auto;
}

h3 {
    text-align: left;
    font-size: 1em;
    font-weight: normal;
    margin: 10px auto;
    color: #3E579E;
    /* margin:10px; */
    padding:0 20px 0 20px;
    /* padding-bottom: 20px; */
}


article {
    font-family: "Inria Serif";
    font-size: 1.2em;
    line-height: 2em;
    width: 800px;
    text-align: justify;
    margin: auto;
}

article a,
nav a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    margin: 5px 0;
    background-color: #FDF6C1;
    color: #3E579E;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    /* border: 2px solid #8b8b8b; */
    /* text-decoration: none; */
}

article a:hover,
nav a:hover {
    background-color: #CDFDCA;
    color: #424242;
    border-radius: 10px;

}

li {
    list-style: none;
}

ul {
    padding: 20px;
    margin: 0;
    display: flex;          
    justify-content: center; 
    gap: 20px;
}

#home-btn{
    background-color: #FFF3FE;
    color: #292929;
}

#home-btn:hover {
    background-color: #ffa54a; 
    color: white;
}